body
{
    background: #6fc529;
    color: #333;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;

}

#Cabecera
{
    background: #37488b;
    box-shadow: 0px 2px 20px rgba(148, 38, 115, 0.133);
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin: 0;
    padding: 0.5em;
}
#cabecera #logo
{
    width: 20px;
    vertical-align: middle;
    padding: 1em;
}
#cabecera #tagline
{
    padding: 0 0 1em;
    font-weight: normal;
    font-size: 1.5em;
}
#Container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid rgba(44, 185, 25, 0.2);
    margin: 0 auto;
}
#Container #h1
{
    font-size: 14px;
}
#footer
{
    background: rgba(236, 143, 22, 0.932);
    color: white;
    font-weight: bolder;
    text-align: center;
    padding: 0.5em;
}
#post
{
    background: white;
    padding: 1em;
}